WEATHER_API_PROXY_URL=
WEATHER_API_BASE_URL=https://rapidweather.p.rapidapi.com/data/2.5/weather
WEATHER_FORECAST_API_URL=https://rapidweather.p.rapidapi.com/data/2.5/forecast
WEATHER_AIR_POLLUTION_API_URL=https://rapidweather.p.rapidapi.com/data/2.5/air_pollution
WEATHER_GEOCODING_API_URL=https://rapidweather.p.rapidapi.com/geo/1.0/direct
WEATHER_API_HOST_HEADER_NAME=X-RapidAPI-Host
WEATHER_API_HOST_HEADER_VALUE=rapidweather.p.rapidapi.com
WEATHER_API_KEY_HEADER_NAME=X-RapidAPI-Key
WEATHER_API_KEY_HEADER_VALUE=your_api_key_here
