WEATHER_API_PROXY_URL=/api/weather
XWEATHER_ALERTS_PROXY_URL=/api/xweather-alerts
WEATHER_API_BASE_URL=https://api.openweathermap.org/data/2.5/weather
WEATHER_FORECAST_API_URL=https://api.openweathermap.org/data/2.5/forecast
WEATHER_AIR_POLLUTION_API_URL=https://api.openweathermap.org/data/2.5/air_pollution
WEATHER_GEOCODING_API_URL=https://api.openweathermap.org/geo/1.0/direct
WEATHER_API_HOST_HEADER_NAME=
WEATHER_API_HOST_HEADER_VALUE=
WEATHER_API_KEY_HEADER_NAME=appid
WEATHER_API_KEY_HEADER_VALUE=
XWEATHER_CLIENT_ID=
XWEATHER_CLIENT_SECRET=
